@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');



* {
    box-sizing: border-box;
    background-color: #4B000F;
    color:  #F5F5F5;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    padding: 3rem;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    position: relative;
    transition: flex 0.7s ease-in;
}

.image {
    position: relative;
    z-index: 1;
}

.panel figcaption {
    font-size: 1rem;
    font-weight: 700;
    bottom: 1rem;
    position: absolute;
    margin: 0;
    z-index: 10;
    padding: 1rem;
    background: none;
}

.panel.active {
    flex: 5;
    margin: 1rem;
    max-width: 40rem;
}

.panel.active figcaption {
    bottom: 1rem;
    right: 5rem;
}

.panel.active .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10%;
}

